<div ng-controller="myCntrl">
    <link   href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    <h1>Lista de Usuarios</h1>
</div>